body {
    background-color:#333300;
}
.navbar {
    height: 30px;
    margin-top: 15px;
}

.navbar-brand {
    margin-left: 40px;
    cursor: pointer;
    color: whitesmoke;
}

.nav-item {
    font-size: 16px;
    padding: 10px;
    list-style: none;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.jumbotron {
    background-image: url("../images/wine_picnic.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    text-align: center;
}

.jumbotron-text {
    margin-top: 80px;
    size: 72px;
    font-family: 'Aclonica';
    /* animation-name: zoom-in;
    animation-duration: 3s; */
}

/* .jumbotron-p {
    margin-top: 10px;
    animation-name: blink;
    animation-duration: 3s;
} */

#wine-img {
    height: 20px;
    display: inline-block;
    align-content: top;
}

@media (max-width: 1200px) {
    #inputGroupSelect01 {
        width: 112px;
    }
}

@media (max-width: 990px) {
    #inputGroupSelect01 {
        width: 700px;
    }
}


/* @keyframes zoom-in {
    from {
        opacity: 0;
        font-size: 10px;
    }
    to {
        opacity: 1;
        font-size: 72px;
    }
}

@keyframes blink {
    0%   {color: white;}
    20%  {color: red;}
    40%  {color: white;}
    60%  {color: red;}
    80% {color: white;}
    100% {color: red;}
} */